@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Serwis dla miłośników motoryzacji</h1>
    <p class="lead">Zapraszamy wszystkich miłośników motoryzacji, wyszukaj swoje auto i podziel się opinią. </p>
    <img src="~/IMG/impala.jpg" alt="Mountain View" style="float:right;width:600px;height:450px;">
</div>